.app-container {
    display: flex;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: right;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.footer-container {
    margin-top: auto;
}